<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1 th:text="${pageName}">pageName</h1>
<hr>
<h1 th:text="${message}">Hello</h1>
<div th:if="${#authorization.expr('isAuthenticated()')}">
    <h2 th:text="${#authentication.name}">Name</h2>
    <a href="/logout" th:href="@{/logout}"><button>Logout</button></a>
</div>
<div th:unless="${#authorization.expr('isAuthenticated()')}">
    <a href="/login" th:href="@{/login}"><button>Login</button></a>
    <a href="/signup" th:href="@{/signup}"><button>SignUp</button></a>
</div>

<hr>
<h1>sec 네임스페이스 사용</h1>
<div sec:authorize="isAuthenticated()">
    <h2 sec:authentication="name">Name</h2>
    <a href="/logout" th:href="@{/logout}">Logout</a>
</div>
<div sec:authorize="!isAuthenticated()">
    <h2 sec:authentication="name">Name</h2>
    <a href="/login" th:href="@{/login}">Login</a>
    <a href="/signup" th:href="@{/signup}">SignUp</a>
</div>
</body>
</html>